<div class="home-container">
  <h1>Bienvenue sur le jeu Morpion</h1>

  <div class="match-list">
    <h2>Liste des matchs en cours</h2>
    <ul>
      <li *ngFor="let match of matches" (click)="joinMatch(match.id)" [class.removed]="match.isRemoving">
        Match {{ match.id }} - &nbsp; <strong>{{ match.player1 }}</strong>&nbsp;<small class="small">(X)</small>&nbsp; <strong>{{ match.score.X_score }}</strong> &nbsp; VS &nbsp; <strong>{{ match.score.O_score }}</strong> &nbsp; <small class="small">(O)</small>&nbsp;<strong>{{ match.player2 }}</strong>
        <!-- <span *ngIf="match.status === 'in_progress'">(En cours)</span>
        <span *ngIf="match.status === 'completed'">(Terminé)</span> -->
        <button (click)="deleteMatch(match.id); $event.stopPropagation()" (mouseover)="$event.stopPropagation()" class="delete-btn">
          ❌
        </button>
      </li>
    </ul>
    <button (click)="openNewMatchDialog()">Démarrer un nouveau match</button>
  </div>
</div>
